:root {
    --background-color: #eee;
    --text-color: #222831;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Helvetica, sans-serif;
    color: var(--text-color);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
}
#title {
    font-size: 4rem;
    padding: 2rem 2rem;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px #ddd;
}
.square {
    user-select: none;
}
.controls {
    margin: 0 70px;
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.controls button {
    color: var(--text-color);
    padding: 8px 20px;
    max-width: 180px;
    width: 100%;
    font-size: 1.2rem;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid var(--text-color);
}